/@1700
/addons
/appcache
/argo
/battleye
/config
/curator
/dll
/dta
/enoch
/expansion
/heli
/jets
/kart
/keys
/logs
/mark
/orange
/steamapps
/tacops
/tank
/*.exe
/*.dll
/@extDB3/logs
/userconfig
/*.log
armalog.cfg
openssl_license.txt
reboot.ps1
steam_appid.txt
